<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width = device-width, height = device-height, maximum-scale=1.0, minimum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<!-- LINK TO THE STYLE SHEET -->
<link rel="stylesheet" href="/treesaver/treesaver.css" />

<!-- Web Type links go here -->
<link href='http://fonts.googleapis.com/css?family=Maven+Pro:500,700&v2' rel='stylesheet' type='text/css'>

<!-- RESOURCES.HTML CONTAINS THE PAGE LAYOUTS -->
<link rel="resources prefetch" href="{% url djTreesaver.views.resources issue=issue.pk %}" />

<!-- TOC.JSON CONTAINS THE ARTICLE ORDER -->
<link rel="index" href="{% url djTreesaver.views.issue_toc issue=issue.pk %}" type="application/json">

<!-- LOAD TREESAVER -->
<script src="/treesaver/treesaver-0.9.3b.js"></script>