<!doctype html>
<html class="no-js no-treesaver">
<head>
    <title>Table of Contents | {{ issue.name }}</title>
    {% include 'article_header.html' %}
</head>

<body>
    <article>
	    <div class="keeptogether" itemscope>
		    <a itemprop="url" href="{% url djTreesaver.views.view_issue issue=issue.pk %}">
			    <img itemprop="thumb" src="{% url djTreesaver.views.serve_image filename=issue.cover.image width=40 height=40 %}" /></a>
		    <h5 itemprop="title"><a itemprop="url" href="ts-cover.html">Cover</a></h5>
		</div>
		
	    {% for article in issue.articles.all %}
		<!-- Article: {{ article.title }} --> 
		<div class="keeptogether" itemscope>
			<a itemprop="url" href="{{ article.slug }}"><img itemprop="thumb" src="{{ article.toc_image }}" /></a>
		    <h5 itemprop="title"><a itemprop="url" href="{{ article.slug }}">{{ article.title }}</a></h5>
		</div>
        {% endfor %}
    </article> 
</body> 
</html>